<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <img src="http://pic3.58cdn.com.cn/anjuke_58/cd8f1f7e477b5ff80430ecf9a495f390?w=640&h=480&crop=1"　/>
  </body>
</html>
